.container{
     background-color: rgb(228, 192, 145);
     margin: 0;
     align-items: center;
     padding: 10%;
     color: black;
     font-size: 150%;


}
.card{
     margin-left: 25%;
     height: 350px;
     width: 40%;
     padding: 7%;
     background-color: aliceblue;
     border-radius: 10%;


}

.btn-box {
    padding: 12px 28px;
    background: rgb(99, 79, 14);
    border-radius: 5px;
    color: #081b29;
    text-decoration: none;
    
    box-shadow: 0 0 2px rgb(99, 79, 14), 0 0 25px rgb(99, 79, 14)
}

.btn-box:hover {
    text-decoration: none;
    box-shadow: 0 0 5px rgb(99, 79, 14), 0 0 25px rgb(99, 79, 14), 0 0 50px rgb(99, 79, 14), 0 0 100px rgb(99, 79, 14), 0 0 200px rgb(99, 79, 14)
}